{% extends "::base.html.twig" %}

{% block header %}
    <header>
        <h1>Repositories of {{ username }}</h1>
    </header>
{% endblock %}

{% block body %}

    <div class="container">

            {% if repositories is defined %}

                {% for repository in repositories %}

                    <div class="row">
                        {% include 'AppBundle:Form:CommentForm.html.twig' %}
                    </div>
                {% endfor %}
            {% endif %}
    </div>
    <div class="clear"></div>
{% endblock %}